<h2 class="okiniiri">お気に入り一覧</h2>
<div class="scroll1">
  <div class="kakomi">
    <% @likes.each do |like| %>
      <div>
        <a href="/spots/<%= like.id %>"><%= like.name %></a>
      </div>
      <div>
        <%= like.explanation %>
      </div>
      <% if @user == current_user %>
      <div class="f_btn">
        <%= render 'favorites/favorite_button', spot: like %>
      </div>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>