<div class="container">
  <div class="row">
    <div class="mx-auto d-block col-lg-8">
      <h1 class="record_title">フィッシング記録&nbsp;<i class="fas fa-pen"></i></h1>
      <div class="record_body">
        
          <% @records.each do |record| %>
            <div>
              <%= link_to user_record_path(user_id: current_user.id, id: record.id) do %>
                <p class='calendar-main-target'><%= record.fishingtype %></p>
              <% end %>
            </div>
          <% end %>
       
      </div>
    </div>
    
    <div class="mx-auto d-block col-lg-4 record_form_body">
      <%= render 'form'%>
    </div>
  </div>
</div>

<%= javascript_include_tag 'spot.js' %>