/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*全体*/

body {
  background: linear-gradient(to right, rgba(250, 250, 197, 0.4), rgba(100, 255, 192, 0.4));
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*コメント*/

.img_position {
  text-align : center;
}

.comment_img {
  position: relative;
  bottom: 10px;
  width: 220px;
  max-height: 300px;
  border: 1px solid blue;
  border-radius: 20px;
}

.c_user_icon {
  position: relative;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #FFCC33;
  border-radius: 100px;
  background-color: white;
  margin: 7px;
}

.c_user {
  position: relative;
  bottom: 10px;
  color: black;
  font-weight: bold;
}

.content {
  position: relative;
  bottom: 32px;
  padding-left: 64px;
}

/*header*/

.title {
  position: absolute;
  top: 9px;
  left: 70px;
}

.fish1 {
  position: absolute;
  top: 13px;
}

.fish2 {
  position: absolute;
  left: 250px;
  top: 13px;
}

.fukidashi {
  display: none;
  width: 190px;
  position: absolute;
  top: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}

.login:hover + .fukidashi {
  display: block;
}

#search {
  position: relative;
  top: 3px;
  height: 41px;
  width: 202px;
  margin-right: 65px;
}

.search_form {
  height: 35px;
}

#sbtn {
  position: relative;
  left: 199px;
  bottom: 35px;
  padding: 2px;
  width: 55px;
  height: 35px;
  border-top-left-radius : 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-bottom-right-radius : 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-left-radius : 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-bottom-left-radius : 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
}

.ranking {
  padding: 7px;
}

/*footer*/

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: #F3FFD8;
}

.footer_sentence{
  opacity: 0.7;
}

/*flash_messages*/

.flash {
  position: fixed;
  top: 70px;
  text-align: center;
  width: 100%;
  z-index: 20;
  animation: fadeout 1.5s ease 1.5s 1 forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
