// index

.fishtype_body {
  background-image: url(fishing.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  border-radius: 10px;
  width: auto;
  padding: 1em;
}

.fishing_type {
  color: #364e96;
  border-bottom: double 5px #A4C6FF;
  font-weight: bold;
}

.kakomi-tab {
  position: relative;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 15px;
  padding: 1.2em 1em 1em;
  background-color: #f7f7f7;
  border: 3px double #999999;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
 }

 .title-tab {
  position: absolute;
  display: inline-block;
  top: -38px; 
  left: -3px; 
  padding: 0 10px;
  height: 35px;
  font-size: 23px;
  font-weight: bold;
  color: #fff; 
  background-color: #a0a0a0;
  border: 1px solid #999999;
  border-radius: 5px 5px 0 0;
 }

 .tag {
  float: left;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 }

 .fishingtype_pages {
  margin-top: 20px;
  text-align: center;
 }

 .fishingtype_pages_inner {
  display: inline-block;
 }