/*new*/

.in {
  font-size: 45px;
  font-weight:bold;
  color: transparent;
  background : rgba(0,0,0,1);
  text-shadow : 
      0 0 0.1em rgba(255,255,255,0.05),
      0.01em 0.04em 0.03em rgba(255,255,255,0.4);
  -webkit-background-clip : text;
}

.log {
  margin: 0 auto;
}

.check {
  position: relative;
  bottom: 9px;
}

.new_user {
  position: relative;
  bottom: 20px;
}

.guest {
  position: relative;
  top: 40px;
  margin-bottom: 30px;
}