/*show*/

.spot_name {
  margin-bottom: 10px;
}

#spot_map {
  border: 3px solid #FFCC33;
  margin-bottom: 10px;
  height: 450px;
}

.favorite {
  position: relative;
  right: 10px;
}

.spot_e {
  position: relative;
  top: 40px;
  font-size: 27px;
}

.box-title {
  position: relative;
  top: 40px;
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  max-width: 800px;
}

.box2 {
  position: relative;
  top: 40px;
  margin-bottom: 70px;
  padding: 1em;
  background: #EEEEEE;
  max-width: 800px;
}

.botton {
  position: relative;
  right: 5px;
}

.comment_button {
  margin-top: 10px;
  margin-bottom: 30px;
}

#comment_text {
  margin-top: 10px;
  height: 110px;
}

.delete {
  position: relative;
  bottom: 20px;
}

/*search*/

#search_map {
  border: 3px solid #FFCC33;
  margin-bottom: 30px;
  height: 500px;
}

.search_result {
  font-size: 20px;
  margin-bottom: 15px;
}

.none {
  padding-left: 20px;
}

.search_name {
  position: relative;
  bottom: 10px;
  right: 10px;
}