/*index*/

.top {
  position: relative;
  bottom: 54px;
  background-image: url("turi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 0;
}

.osaka {
  position: relative;
  top: 10px;
  padding-right: 15%;
  font-weight: bold;
  font-size: 70px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  animation-name: faderight;
  animation-duration: 2s;
}

@keyframes faderight {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

.turiba {
  position: relative;
  bottom: 15px;
  padding-left: 15%;
  font-weight: bold;
  font-size: 70px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  opacity:0;
  animation-name: fadeleft;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

 @keyframes fadeleft {
  0% {
      opacity: 0;
      transform: translateX(30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

.fade {
  animation-name: fade;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

 @keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#top_map {
  border: 3px solid #FFCC33;
  margin-bottom: 40px;
  height: 500px;
}

.area {
  text-align: center;
}

.list {
  display: inline-block;
  text-align: left;
  margin-bottom: 25px;
  padding: 0.5em 2em .5em;
  background-color: #badcad;
  box-shadow: 0 0 10px 10px #badcad;
}

.spot_title {
  margin-top: 5px;
  font-size: 55px;
  text-shadow: 2px 1px 2px #808080; 
}

.district_name {
  font-size: 35px;
  color: black;
  margin: 3px;
}

.entire_weather {
  margin: 0 auto;
  max-width: 1000px;
}

#city-name {
  padding: 0.25em 0.5em;
  color: #364e96;
  background: #CCFFFF	;
  border-left: solid 5px #7db4e6;
}

#weather {
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  margin-top: 10px;
  text-align: center;
}

#weather::-webkit-scrollbar {
  height: 3px;
}

#weather::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 3px;
}

#weather::-webkit-scrollbar-track {
  background: rgba(100,100,100, .5);
}

.weather-report {
  width: 200px;
  float: left;
  height: 260px;
  background-color: white;
}

.weather-icon {
  position: relative;
  bottom: 10px;
  border-style: hidden;
  width: 200px;
}

.weather-date {
  font-size: 20px;
  opacity: 0.7;
}

.weather-time {
  font-size: 20px;
  opacity: 0.7;
}

.weather-temp {
  font-size: 20px;
  position: relative;
  bottom: 34px;
  margin-bottom: 10px;
  opacity: 0.7;
}

table {
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 15px;
  border-collapse: collapse;
  border: 2px solid #eee;
  background-color: white;
}

thead,
tfoot {
  background: #eee;
}

th,
td {
  padding: 8px;
  text-align: center;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: bold;
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}

#prev:hover,
#next:hover,
#today:hover {
  color: #C0C0C0;
}

.under {
  max-width: 800px;
  margin-top: 30px;
}

.comment_title {
  padding: 0.25em 0.5em;
  color: #364e96;
  background: #CCFFFF;
  border-left: solid 5px #7db4e6;
}