/*index*/

.top {
  position: relative;
  bottom: 90px;
  background-image: url("turi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 75px 20px 20px;
  z-index: 0;
}

.osaka {
  position: relative;
  top: 10px;
  padding-right: 15%;
  font-weight: bold;
  font-size: 70px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  animation-name: faderight;
  animation-duration: 2s;
}

@keyframes faderight {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

.turiba {
  position: relative;
  bottom: 15px;
  padding-left: 15%;
  font-weight: bold;
  font-size: 70px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  opacity:0;
  animation-name: fadeleft;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

 @keyframes fadeleft {
  0% {
      opacity: 0;
      transform: translateX(30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

.fade {
  animation-name: fade;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

 @keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.top-body {
  position: relative;
  bottom: 60px;
}

#top_map {
  border: 3px solid #FFCC33;
  margin-bottom: 40px;
  height: 600px;
  box-shadow: 2px 10px 20px #808080; 
}

.area {
  position: relative;
  top: 10px;
  text-align: center;
  width: 100%;
}

.list {
  text-align: left;
  margin-bottom: 25px;
  padding: 0.5em 2.4em 0.5em;
  background-color: #badcad;
  box-shadow: 0 0 5px 5px #badcad;
}

.list span {
  font-size: 18px;
}

.spot_title {
  text-align: center;
  margin-top: 5px;
  font-size: 48px;
  text-shadow: 2px 1px 2px #808080; 
}

.district_name {
  font-size: 35px;
  color: black;
  margin: 3px;
}

.top_spot {
  position: relative;
  bottom: 10px;
  font-size: 15px;
}

@media screen and (max-width: 990px) {
  .entire_weather {
    display: none;
  }
}

.entire_weather {
  margin-left: 20px;
  background-color: white;
  text-align: center;
  padding: 1.5em;
  width: 400px;
  height: 800px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
}

#city-name {
  margin-bottom: 30px;
  text-shadow: 0px 5px 10px #808080; 
}

#weather {
  margin-top: 10px;
  text-align: center;
}

.weather-report {
  width: 350px;
  height: 100px;
  background-color: #BAD3FF;
  box-shadow: 0 0 8px 8px #BAD3FF;
  margin-bottom: 40px;
  display: flex;
}

.weather-icon {
  border-style: hidden;
  width: 100px;
  height: 100px;
}

.weather-date {
  position: relative;
  top: 15px;
  font-size: 17px;
  opacity: 0.7;
}

.weather-main {
  position: relative;
  top: 40px;
  right: 150px;
  font-size: 17px;
}

.weather-temp {
  position: relative;
  top: 40px;
  right: 60px;
  font-size: 17px;
  opacity: 0.7;
}

.under {
  margin-top: 20px;
  display: flex;
}

.top_comment {
  width: 800px;
}

.comment_title {
  padding: 0.25em 0.5em;
  color: #364e96;
  background: #CCFFFF;
  border-left: solid 5px #7db4e6;
}