@charset "utf-8";

/*全体*/

body {
  background: linear-gradient(to right, rgba(156, 250, 197, 0.4), rgba(0, 255, 192, 0.4));
}

/*.container {*/
/*  overflow-x: hidden;*/
/*}*/

/*.container::-webkit-scrollbar {*/
/*  display:none;*/
/*}*/

img {
  width: 220px;
  margin-bottom: 10px;
  border: 1px solid blue;
  border-radius: 20px;
}
  
/*header*/

#form1 {
  position: relative;
  top: 3px;
  height: 41px;
  width: 202px;
  margin-right: 65px;
}

.form2 {
  height: 35px;
}

#sbtn {
  position: relative;
  left: 199px;
  bottom: 35px;
  padding: 2px;
  width: 55px;
  height: 35px;
  border-top-left-radius : 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-bottom-right-radius : 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-left-radius : 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-bottom-left-radius : 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
}
  
/*index*/

/*login*/

#top_map {
  border: 3px solid #FFCC33;
  margin-bottom: 40px;
  height: 500px;
}

.right {
  padding-left: 50px;
  margin-bottom: 20px;
}

.itirann {
  position: relative;
 
}

.turiiti {
  margin-top: 5px;
  font-size: 50px;
  text-shadow: 2px 1px 2px #808080; 
}

h3 {
  color: black;
  margin-top: 10px;
}

.tenki {
  margin: 0 auto;
  max-width: 700px;
  /*text-align: center;*/
}

#city-name {
  margin-top: 20px;
  padding: 0.25em 0.5em;
  color: #364e96;
  background: #CCFFFF	;
  border-left: solid 5px #7db4e6;
}

#weather {
  overflow-y: hidden;
  display: flex;
  margin-top: 10px;
  text-align: center;
}

#weather::-webkit-scrollbar {
  display:none;
}

.weather-report {
  width: 150px;
  float: left;
  height: 136px;
  background-color: white;
}

.weather-icon {
  position: relative;
  bottom: 20px;
  border-style: hidden;
  width: 100px;
}

.weather-date {
  opacity: 0.7;
}

.weather-time {
  opacity: 0.7;
}

.weather-temp {
  position: relative;
  bottom: 50px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.sita {
  max-width: 800px;
  margin-top: 60px;
}

.turicome {
  padding: 0.25em 0.5em;
  color: #364e96;
  background: #CCFFFF;
  border-left: solid 5px #7db4e6;
}

.cimg {
  margin-top: 20px;
  text-align : center;
}

/*logout*/

.toppages.logout_top {
  background-image: url("turi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.osaka {
  position: relative;
  padding-right: 27%;
  font-weight: bold;
  font-size: 80px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  animation-name: faderight;
  animation-duration: 2s;
}

#sakana {
  width: 330px;
  height: auto;
  border: 3px solid #FFCC33;
  border-radius: 50%;
  opacity:0;
  animation-name: fadedown;
  animation-delay: 0.5s;
  animation-duration: 2s; 
  animation-fill-mode: forwards; 
}

.turiba {
  position: relative;
  padding-left: 27%;
  font-weight: bold;
  font-size: 80px;
  color: #99FFFF;
  text-shadow: 5px 5px 5px #808080;
  opacity:0;
  animation-name: fadeleft;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fade {
  animation-name: fade;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

#sinki_btn {
  position: relative;
  right: 8px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  } 
}

@keyframes faderight {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

 @keyframes fadeleft {
  0% {
      opacity: 0;
      transform: translateX(30px);
  }
  100% {
      opacity: 1;
  transform: translateX(0px);
  }
}

 @keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}