/*new*/

.user_new_form {
  margin: 0 auto;
}

.required:before {
  content: "必須";
  background-color: #f0ad4e;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.check {
  position: relative;
  bottom: 9px;
}

/*show*/

.name_icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .name_icon {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .name_icon {
    display: block;
  }
}

.icon {
  width: 190px;
  height: 190px;
  border: 3px solid #FFCC33;
  border-radius: 100px;
  background-color: white;
  margin-right: 20px;
}

.user_name {
  position: relative;
  top: 27px;
  font-size: 30px;
  font-weight: bold;
}

.user_email {
  position: relative;
  top: 42px;
  font-size: 20px;
  margin-bottom: 40px;
}

.user_edit {
  position: relative;
  top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, .3);
}

.left {
 position: relative;
 top: 20px;
 margin-bottom: 40px;
}

.u_come {
  text-align: center;
  color: #3399FF;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.box {
  position: relative;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  background-color: white;
}

.user_content {
  margin-bottom: 30px;
}

.botton {
  position: relative;
  top: 5px;
  right: 5px;
}

/*edit*/

#edit {
  margin-bottom: 10px;
}

#edit h2 {
    position: relative;
    top: 10px;
    background: #BBBBBB;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#edit fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}


#edit fieldset input[type="submit"] {
    background: #33cc77;
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 100px;
}

#edit fieldset input[type="submit"]:hover {
    background: #28ad63;
}